body {
  font-family: Helvetica;
  Font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  padding: 0;
  margin: 0;
}

.copyright {
  margin: 20px;
  text-align: left;
}

header {
  display: flex;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 10;
  align-items: center;


}



.logo img {
height: 50px;
padding-left: 10px;
}

nav span {
text-align: right;
display: inline-block;
flex-direction: row;
align-content: space-around;
justify-content: flex-end;

}

.header {
  display: inline-flex;
  width: 1200px;
}

.mission-bar {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  position: relative;
  top: 69px;
  height: 700px;
  padding-top: 320px;
  align-content: center;
  justify-content: center;
}

.image-content {
  background-color: black;
  text-align: center;
  width: 1200px;
  align-content: center;
  line-height: 1.5;

}

.tea-of-month {
 width: 1000px;
 z-index: 9;
 background-color: black;

}

.tea-images {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 1000px;
  padding-bottom: 40px;
}

.tea-images img {
  height: 200px;
  width: 300px;
  margin: 25px 10px;
}

.location {
  position: relative;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: row;
  height: 500px;
  z-index: 6;
}

.title-2 {
  padding-top: 10px;
}

.addresses {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  height: 500px;
  width: 1000px;
  padding: 15px 40px;
  align-items: baseline;
}

h5 {
  font-weight: normal;
  font-size: 22px;
}

.addresses .downtown {
  height: 300px;
  Width: 300px;
  background-color: black;
  align-content: center;

}

.addresses .bayside {
  height: 300px;
  Width: 300px;
  background-color: black;
  align-content: center;

}

.addresses .oakdale {
  height: 300px;
  Width: 300px;
  background-color: black;
  align-content: center;

}

.footer {
  height: 200px;
  width: 100%;
  align-content: center;
}
